<html lang="en">
    <body>
        
        <div class="content">
            <h1>Welcome to BookFinder.keyin!</h1>
            <h3>The search engine to find all your books...</h3>
            <%- include('./partials/nav.ejs') %>
        </div>
        </br>
        </br>
        </br>
        </br>
        <%- include('./partials/logout.ejs') %>
    </body>
</html>